.inputContainer {
  --padding: 0.5rem;
  --padding-left: 0.75rem;
  --border-width: 1px;
  position: relative;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.inputPrefix {
  position: absolute;
  left: var(--padding-left);
  top: calc(var(--border-width) + var(--padding));
  color: hsl(212, 12%, 80%);
}

.inputContainer input {
  padding-left: calc(var(--padding-left) + 1rem);
}