.navUserMenu {
  position: relative;
}

.dropdownTarget {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: 300px;
  right: 0;
  background-color: hsl(215, 21%, 14%);
}

.dropdown > div {
  padding: 1rem;
}
