.post {
  background-color: #161b21;
  padding: 1rem;
}

.title {
  margin: 0;
}

.metadata {
  font-size: 0.875rem;
  opacity: 0.75;
  display: flex;
  gap: 1rem;
}

.metadata span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
